// Hamburger Settings
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-layer-color: $blue;
$hamburger-types: (elastic);